.marketing-tools{
    width: 100%;
    padding: 3rem 1.5rem;
    margin-top: 4rem;
    background: rgba(230, 230, 230, 0.3);
}

.tools-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.tool-header-item{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tools-header-item1 p{
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.tools-header-item1 h1{
    font-size: 2rem;
    margin-bottom: 2.5rem;
}

.tools{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;
}

.tools-items{
    width: 100%;
    padding: 0.5rem;
    display: flex;
    overflow-x: auto;
}

.tools-pic{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tools-pic img{
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .tools-header{
        flex-direction: row;
    }

    .tools{
        flex-direction: row;
    }

    .tools-pic img{
        width: 80%;
    }

    .tools-items{
        display: block;
    }

    .tool-header-item{
        width: 40%;
    }
}