.header{
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0;
    color: white;
    background: black;
    width: 100%;
    z-index: 2;
}

.header div{    
    /* border: 1px solid; */
    align-items: center;
    padding: 0.5rem;
}

.header-logo{
    display: flex;
    font-style: italic;
}

.header-logo h1{
    margin-left: 0.5rem;
    font-size: 24px;
}

.header-links{
    width: 40%;
    justify-content: space-around;
    display: none;
}

.header-links span{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.start{
    display: flex;
    justify-content: space-around;
}

.start span{
    color: white;
}

.start span:first-child{
    display: none;
}

.start span:nth-child(2){
    color: #fff;
    text-decoration: underline;
}

.mobile-menu{
    margin-left: 1rem;
}

/*solutionmenu*/
.solutionMenu{
    position: relative;
    width: 100%;
    color: white;
    background: black;
    z-index: 2;
}

.solutionMenu-divone, .resourceMenu-divone{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0.5rem;
}

.solutionMenu-divtwo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 4.5rem;
    background-color: rgba(30, 30, 30, 1);
}

.solutionMenu-divtwo div{
   border-right: 0;
   padding: 1rem; 
    display: flex;
    flex-direction: column;
    margin-right: 0;
}

.solutionMenu-divtwo div span:first-child{
    margin-bottom: 0.5rem;
    font-size: 18px;
    font-weight: 700;
}

.solutionMenu-divtwo div span:nth-child(2){
    font-size: 14px;
    font-weight: 400;
    color: rgba(200, 200, 200, 1);
}

/* resourceMenu */

.resourceMenu{
    position: relative;
    width: 100%;
    color: white;
    background: black;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resourceMenu .title h5{
    display: flex;
    align-items: center;
}

.resourceMenu-divone{
    width: 100%;
}

.resourceMenu-divtwo{
    width: 100%;
    padding: 2rem 4.5rem;
    background-color: rgba(30, 30, 30, 1);
}

.resourceMenu .title{
    margin-bottom: 0.5rem;
    border-bottom: 1px solid;
    padding: 0.5rem;
}

.resource-list{
    display: flex;
    flex-direction: column;
}

.resource-list span{
    margin-top: 1rem;
}

/* menulist */
.menulist .title{
    margin-bottom: 0.5rem;
    border-bottom: 1px solid;
    padding: 0.5rem;
}

.menulist .title h5{
    display: flex;
    align-items: center;
    font-size: 16px;
}

.menulist .title span, .resourceMenu .title span{
    display: flex;
    border: 2px solid;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.menulist{
    /* border: 1px solid; */
    width: 300px;
    padding: 0.5rem 1.5rem;
}

.title-list span:first-child{
    color: white;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.title-list span:nth-child(2){
    font-size: 14px;
    font-weight: 400;
}

/* whatsnewmenu */

.whatsnewMenu-divtwo{
    position: relative;
    color: white;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2.5rem;
    background-color: rgba(0, 0, 0, 1);
}

.divtwo-item{
    border-right: 0;
    padding: 1rem; 
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    align-items: center;
    cursor: pointer;
 }

 .divtwo-item-text{
    display: flex;
    flex-direction: column;
 }

 .divtwo-item-text span:first-child{
    font-size: 16px;
    font-weight: 500;
 }

 .divtwo-item-text span:nth-child(2){
    font-size: 14px;
    color: rgba(200, 200, 200, 1);
 }
 .icon{
    margin-right: 1rem;
    border: 2px solid;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

@media screen and (min-width: 1024px) {
    .header-links{
        display: flex;
    }

    .start{
        width: 20%;
    }

    .start span:nth-child(2){
        padding: 0.5rem 1rem;
        border-radius: 50px;
        background: white;
        color: black;
        text-decoration: none;
    }

    .mobile-menu{
        display: none;
    }

    .start span:first-child{
        display: block;
    }

    .solutionMenu{
        position: fixed;
    }

    .resourceMenu{
        position: fixed;
        display: flex;
    }

    .solutionMenu-divone, .resourceMenu-divone{
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        padding: 0.5rem;
    }

    .solutionMenu-divtwo{
        flex-direction: row;
    }

    .solutionMenu-divtwo div{
        margin-right: 2rem;
    }

    .resourceMenu-divone{
        width: 70%;
    }
    
    .resourceMenu-divtwo{
        width: 30%;
    }

    .whatsnewMenu-divtwo{
        position: fixed;
       flex-direction: row;
    }

    .divtwo-item, .solutionMenu-divtwo div{
        border-right: 2px solid;
    }
}