.header{
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    position: sticky;
    top: 0;
    color: white;
    background: black;
    width: 100%;
    z-index: 2;
}

.header div{    
    /* border: 1px solid; */
    align-items: center;
    padding: 0.5rem;
}

.header-logo{
    display: flex;
    font-style: italic;
}

.header-logo h1{
    margin-left: 0.5rem;
    font-size: 24px;
}

.header-links{
    width: 40%;
    justify-content: space-around;
    display: none;
}

.header-links span{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.start{
    display: flex;
    justify-content: space-around;
}

.start span{
    color: white;
}

.start span:first-child{
    display: none;
}

.start span:nth-child(2){
    color: #fff;
    text-decoration: underline;
}

.mobile-menu{
    margin-left: 1rem;
}

/*menu*/
.solutionMenu{
    position: fixed;
    width: 100%;
    color: white;
    background: black;
    z-index: 2;
}

.solutionMenu-divone{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem;
}

.solutionMenu-divtwo{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2rem 4.5rem;
    background-color: rgba(30, 30, 30, 1);
}

.solutionMenu-divtwo div{
   border-right: 2px solid;
   padding: 1rem; 
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.solutionMenu-divtwo div span:first-child{
    margin-bottom: 0.5rem;
    font-size: 24px;
    font-weight: 700;
}

.solutionMenu-divtwo div span:nth-child(2){
    font-size: 18px;
    font-weight: 400;
    color: rgba(200, 200, 200, 1);
}

.menulist .title{
    margin-bottom: 0.5rem;
    border-bottom: 1px solid;
    padding: 0.5rem;
}

.menulist .title h5{
    display: flex;
    align-items: center;
    font-size: 24px;
}

.menulist .title span{
    display: flex;
    border: 1px solid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.menulist{
    /* border: 1px solid; */
    width: 20%;
    padding: 0.5rem 1.5rem;
}

.title-list span{
    color: white;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.title-list span{
    font-size: 18px;
    font-weight: 500;
}

@media screen and (min-width: 1024px) {
    .header-links{
        display: flex;
    }

    .start{
        width: 20%;
    }

    .start span:nth-child(2){
        padding: 1rem 1.3rem;
        border-radius: 50px;
        background: white;
        color: black;
        text-decoration: none;
    }

    .mobile-menu{
        display: none;
    }

    .start span:first-child{
        display: block;
    }
}